<div class="container">
<div class="friends_index">
<h1 class="header-one">Friends</h1>

<div class="friend-box" >
  <div class="friends-list">
    <% @friends.each do |friend| %>
    <div class="friend-card">
      <%= cl_image_tag friend.photo.key,
      width: 320, height: 200, crop: :thumb, gravity: :face %>
      <div class="friend-card-details">
        <div class="card-title">
          <h5><%= link_to "#{friend.first_name} #{friend.last_name}", friend_path(friend), class: 'name-design' %> </h5>
          <p><i class="fa-solid fa-location-dot"></i> <%= friend.location %></p>
        </div>
        <div class="card-details">
          <h3 class="interest">Interests</h3>
            <ul class= "flex-list">
              <% interests = friend.interest.split(", ").to_a %>
              <% interests.each do |interest|%>
              <li><%= interest %></li>
              <% end %>
            </ul>
            <div class="card-footer">
              <%= link_to "View Details",
                friend_path(friend),
                :class => 'btn btn-success' %>
              <h4><%= friend.price %> €</h4>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
