<div class="container"><h1><%= "#{@friend.first_name} #{@friend.last_name}" %></h1>
<h3>Location</h3>
<p><%= "#{@friend.location}" %></p>
<h3>Description</h3>
<p><%= "#{@friend.description}" %></p>
<h3>Price</h3>
<p><%= "#{@friend.price}" %></p>
<h3>Hobbies</h3>
<ul>
<% @friend.interest.split(",").each do |i| %>
<li><%= i %></li>
<% end %>

<a><%= link_to "Book Me!", new_friend_booking_path(params[:id]), :class => 'btn btn-success' %></a>
<a><%= link_to "Back to Friends List", friends_path, :class => 'btn btn-warning' %></a>
<%= link_to "Delete",
  friend_path(@friend),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
