<div class="container">
  <div class="form-container">
    <h1>add a new booking:</h1>
    <%= simple_form_for [@friend, @booking] do |f| %>
      <%= f.input :description %>
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      <%= f.submit class: "submit-btn" %>
    <% end %>

    <%= link_to "Return", friend_path(@friend), :class => 'back-btn' %>
  </div>

</div>

