<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1187520/pexels-photo-1187520.jpeg)">
  <div class="container">
    <h1>Buddy Bookers</h1>
    <p>Rent a buddy for the day, whether it’s for a night out, play a sport with or simply just hang out</p>
    <a><%= link_to "Friend Me", friends_path, :class => 'btn btn-flat' %></a>
    <a><%= link_to "Sell a friend", new_friend_path, :class => 'btn btn-flat' %></a>
    
    <%= form_with url: friends_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Enter you location"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
